#Address {
  padding: 0 42px 70px 42px;
  position: relative;
  max-width: 940px;
  margin: auto;

  @media (max-width: 420px) {
    padding: 0 20px 40px 20px;
  }

  h1 {
    padding: 56px 0 0 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #3e3e3e;
  }

  .address-wrapper {
    display: flex;
    align-items: flex-start;

    @media (max-width: 1024px) {
      display: block;
    }
  }

  .address-list-wrapper {
    position: relative;
  }

  .address-list {
    margin-top: 20px;
    border: 1px solid #979797;
    border-radius: 8px;
    width: 660px;
    box-sizing: border-box;

    @media (max-width: 1024px) {
      width: 100%;
    }

    @media (max-width: 420px) {
      border-radius: unset;
      width: calc(100% + 40px);
      position: relative;
      left: -20px;
      border-left: unset;
      border-right: unset;
    }

    li {
      display: flex;
      padding: 20px;
      align-items: center;
      position: relative;

      & + li {
        border-top: 1px solid #979797;
      }

      .address-info {
        .info-postnumber {
          font-size: 16px;
          line-height: 19px;
          color: #3e3d3e;

          .default-mark {
            margin-left: 5px;
            padding: 3px 11px;
            background: #ff5b5c;
            color: #ffffff;
            border-radius: 5px;
            font-size: 14px;
            line-height: 17px;
          }
        }

        .info-address {
          margin-top: 6px;
          font-size: 14px;
          line-height: 17px;
          color: #989898;
        }
      }

      &.address-more-btn {
        padding: 0;
        text-align: center;

        button {
          padding: 15px;
          display: block;
          width: 100%;
          cursor: pointer;
          font-size: 16px;
          line-height: 19px;
          color: #252525;
          background: unset;
          border: unset;
        }
      }
    }
  }

  .control-menu-btn {
    margin-left: auto;
    position: relative;

    button {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #ffffff;
      border: 1px solid #e1e1e1;
      display: inline-flex;
      padding: 0;
      justify-content: center;
      cursor: pointer;

      span {
        display: inline-block;
        width: 4px;
        height: 4px;
        background: #5e5e5e;
        border-radius: 50%;
        flex-shrink: 0;

        & + span {
          margin-left: 3px;
        }
      }

      &:active,
      &:focus {
        outline: none;
      }
    }
  }

  .add-address-btn {
    position: absolute;
    top: -20px;
    right: 0;

    @media (max-width: 1024px) {
      top: -40px;
    }

    button {
      padding: 0;
      background: unset;
      border: unset;
      font-size: 16px;
      line-height: 19px;
      color: #4ea3f8;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .address-description {
    width: 250px;
    margin-left: 30px;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-top: 20px;
    display: inline-block;

    @media (max-width: 1024px) {
      width: 100%;
      margin-top: 30px;
      margin-left: 0;
    }

    padding: 20px;
    border: 1px solid #979797;
    border-radius: 8px;

    p:nth-of-type(1) {
      font-size: 17px;
      line-height: 20px;
      color: #3e3e3e;
    }

    p:nth-of-type(2) {
      margin-top: 14px;
      font-size: 13px;
      line-height: 17px;
      color: #989898;

      button {
        background: unset;
        border: unset;
        text-decoration: underline;
        color: #4ea3f8;
      }
    }
  }

  .no-address {
    $grayColor: #d3d3d3;
    border: 1px solid #979797;
    border-radius: 8px;
    width: 660px;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    @media (max-width: 1024px) {
      width: 100%;
    }

    @media (max-width: 420px) {
      border-radius: unset;
      width: calc(100% + 40px);
      position: relative;
      left: -20px;
      border-left: unset;
      border-right: unset;
    }

    .no-address-icon {
      width: 84px;
      height: 84px;
      border: 4px solid $grayColor;
      box-sizing: border-box;
      border-radius: 50%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        display: inline-block;
      }

      span:nth-of-type(1) {
        transform: perspective(800px) rotateX(-80deg) scaleY(5.9);
        width: 7px;
        height: 34px;
        border-radius: 7px;
        background: $grayColor;
      }

      span:nth-of-type(2) {
        background: $grayColor;
        margin-top: 6px;
        border-radius: 50%;
        width: 9px;
        height: 9px;
      }
    }

    p {
      margin-top: 28px;
      font-size: 22px;
      line-height: 27px;
      font-weight: bold;
      color: $grayColor;
    }
  }

  .address-control-menu {
    position: absolute;
    top: 30px;
    right: 0;
    width: 170px;

    .bg-dim {
      // background: rgba(0, 0, 0, .5);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }

    ul {
      position: relative;
      padding: 10px 0;
      z-index: 10;
      background: #ffffff;
      border-radius: 4px;
      box-shadow: 2px 2px 3px 0 rgba(122, 122, 122, 0.5);
      border: solid 1px #cdcdcd;

      li {
        padding: 0;
        border: unset;

        button {
          padding: 11px 20px;
          font-size: 16px;
          line-height: 19px;
          display: block;
          width: 100%;
          height: 100%;
          background: unset;
          border: unset;
          cursor: pointer;
          text-align: left;

          &:hover {
            background: #f4f4f4;
            border-radius: unset;
          }
        }
      }
    }
  }

  .add-new-address {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    h1 {
      padding: 0;
    }

    .bg-dim {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .form-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 26px;
      box-sizing: border-box;
      width: 510px;
      border-radius: 6px;
      box-shadow: 1px 3px 5px 0 rgba(47, 46, 46, 0.5);
      border: solid 1px #979797;
      background: #ffffff;
      z-index: 1;

      @media (max-width: 420px) {
        width: 100%;
        height: 100%;
        border: unset;
        border-radius: unset;
      }

      form {
        margin-top: 45px;

        input {
          width: 100%;
          padding: 12px 14px;
          font-size: 14px;
          line-height: 19px;
          box-sizing: border-box;
          border-radius: 4px;
          border: solid 1px #979797;

          &::placeholder {
            color: #adadad;
          }
          &:focus {
            outline: none;
          }
        }

        .form-field-1 {
          display: flex;

          @media (max-width: 420px) {
            display: block;

            input {
              width: 228px;
            }
          }
          div {
            position: relative;
            span {
              display: none;
            }
            &.error {
              input {
                border-color: #ed635e;
              }
              span {
                position: absolute;
                bottom: -20px;
                left: 0;
                display: block;
                font-size: 14px;
                color: #ed635e;
                display: block;
              }
            }
            &:nth-of-type(2) {
              margin-left: 28px;
              @media (max-width: 420px) {
                margin-top: 50px;
                margin-left: 0;
              }
              input {
                width: 228px;
                flex-shrink: 0;
              }
            }
          }
        }

        .form-field-2 {
          position: relative;
          margin-top: 50px;
          span {
            display: none;
          }
          &.error {
            input {
              border-color: #ed635e;
            }
            span {
              position: absolute;
              bottom: -20px;
              left: 0;
              display: block;
              font-size: 14px;
              color: #ed635e;
              display: block;
            }
          }
        }

        .form-field-3 {
          margin-top: 34px;

          input[type="checkbox"] {
            width: unset;
            visibility: hidden;
            position: absolute;

            &:checked + label {
              &::before {
                background: #ed635e;
                border-color: #ed635e;
              }

              span {
                display: inline-block;
                color: #ffffff;
              }
            }
          }

          label {
            font-size: 14px;
            line-height: 19px;
            color: #3d3d3d;
            font-weight: normal;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;

            &::before {
              content: "";
              display: inline-block;
              width: 20px;
              height: 20px;
              border-radius: 4px;
              border: 1px solid #979797;
              margin-right: 8px;
            }

            span {
              position: absolute;
              top: 1px;
              left: 1px;
              display: none;

              &.material-icons {
                font-size: 20px;
              }
            }
          }
        }

        .submit-btn {
          margin-top: 60px;

          button {
            cursor: pointer;
            width: 100%;
            padding: 15px 0;
            text-align: center;
            color: #ffffff;
            font-size: 16px;
            line-height: 17px;
            background: #ed635e;
            border-radius: 4px;
            border: unset;
            font-weight: bold;
          }
        }
      }

      .add-new-close-btn {
        position: absolute;
        top: 26px;
        right: 26px;

        button {
          cursor: pointer;
          background: unset;
          border: unset;
          padding: 0;

          &:focus {
            outline: none;
          }

          .material-icons {
            font-size: 26px;
          }
        }
      }
    }
  }
}
